/* 
reset  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header  */

.bgBlue {
    background-color: #083590;
    
}

.bgLightgreen {
    background-color: #4285f4;
}

.rowResultTicket {
    min-height: 150px;
}

/* main  */

main {
    height: calc(100vh - 90px);
}